/* Custom styles for list bullets */
.expertise-item::marker {
    color: #21A391;
    /* Bullet color */
    font-size: 1.5rem;
    /* Adjust bullet size */;
}

@media (max-width : 1214px) {
    .underLine {
        width: 1000px !important;
    }
}
@media (max-width : 1016px) {
    .underLine {
        width: 800px !important;
    }
}
@media (max-width : 856px) {
    .underLine {
        width: 650px !important;
    }
}
@media (max-width : 685px) {
    .underLine {
        width: 350px !important;
    }
}
