/* From Uiverse.io by 3bdel3ziz-T */
.select {
    width: fit-content;
    cursor: pointer;
    position: relative;
    color: white;
}
.selected {
    background-color: #ABA0A0;
    margin-bottom: 3px;
    border-radius: 5px;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

.arrow {
    position: relative;
    right: 0px;
    height: 10px;
    transform: rotate(-90deg);
    width: 25px;
    fill: white;
    z-index: 100000;
    transition: 300ms;
}

.options {
    display: none;
    /* Hidden by default */
    flex-direction: column;
    border-radius: 5px;
    padding: 17px;
    background-color: #ABA0A0;
    position: absolute;
    top: 100%;
    /* Below the select */
    left: 0;
    z-index: 1100;
    /* Ensure it's above user listings */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    opacity: 0;
    transition: opacity 300ms ease-in-out, transform 300ms ease-in-out;
    transform: translateY(-10px);
}

.select:hover .options {
    display: flex;
    opacity: 1;
    transform: translateY(0);
}

.select:hover>.selected .arrow {
    transform: rotate(0deg);
}

.option {
    padding: 8px 12px;
    background-color: #ABA0A0;
    font-size: 15px;
    color: white;
    border-radius: 5px;
    transition: background-color 300ms;
}
.option:hover {
    background-color: #323741;
}

.options input[type="radio"] {
    display: none;
}

.options label {
    display: inline-block;
}

.options label::before {
    content: attr(data-txt);
}

.options input[type="radio"]:checked+label {
    display: none;
}

.options input[type="radio"]#all:checked+label {
    display: none;
}

.select:has(.options input[type="radio"]#all:checked) .selected::before {
    content: attr(data-default);
}

.select:has(.options input[type="radio"]#option-1:checked) .selected::before {
    content: attr(data-one);
}

.select:has(.options input[type="radio"]#option-2:checked) .selected::before {
    content: attr(data-two);
}

.select:has(.options input[type="radio"]#option-3:checked) .selected::before {
    content: attr(data-three);
}